.form { 
    width:100%;
    max-width: 330px;
    padding:15px;
    margin: auto;
    height: 100%;
}

.but {
    padding:5px;
    font-size: 13px;
    color: black;
    background-color: white;
    border-color: white;
}

.productadd {
    background-image: url('../Admin/grocery-store.jpg');
}